📈 Daily 5 Swing Trade Signal Bot.json
{
  "name": "📈 Daily 5 Swing Trade Signal Bot",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-pro-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-pro-latest"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [-1120, 1232],
      "id": "d5d801db-a19a-4f91-8491-d3e2573dc9ed",
      "name": "Message a model",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "KUONeas2zxLZjujM",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://apidojo-yahoo-finance-v1.p.rapidapi.com/market/v2/get-quotes?region=US&symbols={{$json[\"ticker\"]}}\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "={{ $env.YAHOO_FINANCE_RAPIDAPI_KEY }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "x-rapidapi-host",
              "value": "apidojo-yahoo-finance-v1.p.rapidapi.com"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "value": "={   \"symbols\": [{{$json[\"ticker\"]}}],   \"proxyConfig\": { \"useApifyProxy\": true } }"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {}
          }
        }
      },
      "id": "1b16cfc6-277d-48d3-9314-4240ecc067ee",
      "name": "Fetch Quote via Rapid API1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [-2000, 1168],
      "typeVersion": 4.2,
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.content.parts[0].text;\n\nlet parsedTrades = [];\n\ntry {\n  // Tüm ```json ... ``` bloklarını yakala\n  const matches = [...raw.matchAll(/```json([\\s\\S]*?)```/g)];\n\n  if (!matches.length) {\n    throw new Error(\"No JSON blocks found in Gemini output\");\n  }\n\n  for (const m of matches) {\n    // JSON.parse ile içteki dizi objesini al\n    const tradeArray = JSON.parse(m[1].trim());\n     \n    // !!! BURASI DÜZELTME NOKTASI !!!\n    // Eğer tradeArray bir dizi ise, elemanlarını ana diziye ekle\n    if (Array.isArray(tradeArray)) {\n        parsedTrades.push(...tradeArray); // Spread operatörü ile diziyi düzleştir\n    } else {\n        // Tek bir obje gelme ihtimaline karşı eklenir\n        parsedTrades.push(tradeArray);\n    }\n  }\n} catch (e) {\n  throw new Error(\"Failed to parse Gemini JSON output: \" + e.message);\n}\n\n// Tek item olarak geri döndür\nreturn [\n  {\n    json: {\n      message: parsedTrades // Artık tek bir dizi içerir: [ {trade1}, {trade2} ]\n    }\n  }\n];"
      },
      "id": "e65ec7b9-24e1-4d65-8b6d-c255841dd293",
      "name": "Split Trade Recommendations1",
      "type": "n8n-nodes-base.code",
      "position": [-768, 1216],
      "typeVersion": 2,
      "retryOnFail": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [1, 2, 3, 4, 5],
              "triggerAtHour": 16,
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "id": "557034dc-8d1e-4f05-8592-3142b279437f",
      "name": "✅ Trigger - Daily Market Close\t1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [-2496, 1184],
      "typeVersion": 1.2,
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Extract and flatten stocks array if wrapped in an outer object\nconst input = $json;\nlet stocks = [];\n\nif (Array.isArray(input) && input[0].stocks) {\n  stocks = input[0].stocks;\n} else if (input.stocks) {\n  stocks = input.stocks;\n} else {\n  throw new Error(\"No valid 'stocks' array found in input.\");\n}\n\nreturn [\n  {\n    json: {\n      stocks,\n    }\n  }\n];"
      },
      "id": "36e2aa27-94de-4b9d-b3f8-15d461340525",
      "name": "📊 Filter Valid Stock Data\t1",
      "type": "n8n-nodes-base.code",
      "position": [-1600, 1216],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const stocks = $json.stocks;\n\nlet formattedStocks = stocks.map(stock => {\nreturn `Firma: ${stock.name} (${stock.symbol})\nPrice: ${stock.price}\nOpen: ${stock.open}\nHigh: ${stock.dayHigh}\nLow: ${stock.dayLow}\nPrev Close: ${stock.prevClose}\nChange %: ${stock.changePercent}\nVolume: ${stock.volume}\nAvg Volume (10D): ${stock.avgVolume10D}\nAvg Volume (3M): ${stock.avgVolume3M}\n50DMA: ${stock.fiftyDayAvg}\n200DMA: ${stock.twoHundredDayAvg}\n52W High: ${stock.fiftyTwoWeekHigh}\n52W Low: ${stock.fiftyTwoWeekLow}\nBeta: ${stock.beta}\nVolume vs Avg(10D): ${stock.volumeVsAvg10D}\nEarnings in Days: ${stock.earningsInDays}\nShort Ratio: ${stock.shortRatio}\nMarket Cap: ${stock.marketCap}\nTarget Price (Mean): ${stock.targetPriceMean}\nTarget Price (High): ${stock.targetPriceHigh}\nTarget Price (Low): ${stock.targetPriceLow}\nEarnings Date: ${stock.earningsDate || 'N/A'}\nRSI(14): ${stock.rsi14}\nMACD Line (12-26): ${stock.macd}\nMACD Signal (9): ${stock.macdSignal}\nMACD Histogram: ${stock.macdHist}\nATR(14): ${stock.atr14}\nBollinger Upper: ${stock.bbUpper}\nBollinger Middle: ${stock.bbMiddle}\nBollinger Lower: ${stock.bbLower}\nSMA20: ${stock.sma20}\nSMA50: ${stock.sma50}\nEMA20: ${stock.ema20}\nEMA50: ${stock.ema50}\nMFI(14): ${stock.mfi14}`;\n}).join(\"\\n\\n\");\n\nreturn [\n{\njson: {\nprompt: `Du bist ein Swing Trading Assistent für US-Aktien und ein Experte für technische Analyse. Dein Ziel ist es, aus den bereitgestellten Daten Swing Trading Entscheidungen zu generieren, **indem du einen ausgewogenen Ansatz verfolgst, der weder zu viele noch zu wenige Signale erzeugt**.\n\n### ANZUWENDENDE STRATEGIE ###\n\n1. **Haupttrend-Filter:**\n* **Für Buy-Signal:** Selbst wenn der Preis bis zu 5% unter dem 200DMA liegt (Preis ≥ 200DMA × 0,95), **sind Kaufpositionen erlaubt, wenn die Bedingungen des mittelfristigen Trends (Schritt 2) erfüllt sind**. Normalerweise sollte der Preis über dem 200DMA liegen.\n* **Für Sell-Signal:** Selbst wenn der Preis bis zu 5% über dem 200DMA liegt (Preis ≤ 200DMA × 1,05), **sind Verkaufspositionen erlaubt, wenn die Bedingungen des mittelfristigen Trends (Schritt 2) erfüllt sind**. Normalerweise sollte der Preis unter dem 200DMA liegen.\n* Falls der mittelfristige Trend ebenfalls nicht eindeutig ist, wird die Aktie als 'Hold' bewertet.\n\n2. **Mittelfristiger Trend:**\n* **Für Buy-Signal:** \n  - OPTIMAL: EMA20 > EMA50 UND Preis > EMA50.\n  - AKZEPTABEL (Übergangszone): Wenn EMA20 innerhalb 2% von EMA50 liegt UND Preis > EMA20 UND MACD Line > Signal Line UND MACD Histogram > 0 → Buy möglich bei starkem Momentum.\n* **Für Sell-Signal:** \n  - OPTIMAL: EMA20 < EMA50 UND Preis < EMA50.\n  - AKZEPTABEL (Übergangszone): Wenn EMA20 innerhalb 2% von EMA50 liegt UND Preis < EMA20 UND MACD Line < Signal Line UND MACD Histogram < 0 → Sell möglich bei schwachem Momentum.\n\n3. **Einstiegssignal (Entry):**\n* **WICHTIG:** Da nur aktuelle EOD-Daten (End-of-Day) vorliegen, wird geprüft, ob der aktuelle Preis innerhalb der Entry-Zonen liegt. Dies simuliert die Bedingung, dass der Preis in den letzten 5-7 Bars (Handelstagen) diese Zonen erreicht hat.\n\n* **Buy:** Der Preis muss aktuell eine der folgenden Bedingungen erfüllen:\n  - Pullback zum EMA20: Preis innerhalb \\`2 * ATR(14)\\` von EMA20, ODER\n  - Pullback zum Bollinger Middle Band: Preis innerhalb \\`1,5 * ATR(14)\\` von bbMiddle, ODER\n  - Pullback zum SMA50: Preis innerhalb \\`2 * ATR(14)\\` von SMA50 UND MACD Line > 0.\n\n* **Sell:** Der Preis muss aktuell eine der folgenden Bedingungen erfüllen:\n  - Bounce zum EMA20: Preis innerhalb \\`2 * ATR(14)\\` von EMA20, ODER\n  - Bounce zum Bollinger Middle Band: Preis innerhalb \\`1,5 * ATR(14)\\` von bbMiddle, ODER\n  - Widerstand am SMA50: Preis innerhalb \\`2 * ATR(14)\\` von SMA50 UND MACD Line < 0.\n\n* **Entry-Level:** Wenn die Bedingung erfüllt ist: Entry = \\`currentPrice\\`.\n\n4. **Bestätigungssignale (Confirmation):**\n* **RSI(14):** \n  - Für Buy: RSI zwischen 35-65 (optimal 40-60). RSI > 65 = hohes Risiko, aber mit starkem Momentum akzeptabel.\n  - Für Sell: RSI zwischen 35-65 (optimal 40-60). RSI < 35 = hohes Risiko, aber bei Abwärtstrend akzeptabel.\n* **MACD:** \n  - Für Buy: \n    * OPTIMAL: MACD Line > Signal Line UND Histogram > 0\n    * AKZEPTABEL: Nur Histogram > 0 (aber Line < Signal) = schwächeres Signal, nur bei starkem Trend akzeptabel\n  - Für Sell: \n    * OPTIMAL: MACD Line < Signal Line UND Histogram < 0\n    * AKZEPTABEL: Nur Histogram < 0 (aber Line > Signal) = schwächeres Signal, nur bei starkem Trend akzeptabel\n* **MFI(14):** Für Buy unter 75, für Sell über 25.\n* **Volumen:** Hohes Volumen (\\`volumeVsAvg10D > 1.2\\`) wirkt sich positiv als Bestätigungssignal aus und erhöht die Signalqualität. Bei \\`volumeVsAvg10D < 0.8\\` = schwaches Signal, Vorsicht geboten.\n* **Beta:** Wenn Beta über 1,5 liegt, sollte Stop Loss auf \\`2 * ATR(14)\\` erweitert werden und Zeitrahmen verkürzt werden (1-2 Wochen statt 2-4).\n\n### AUSGABE-REGELN ###\n\n* Erstelle für jede Aktie ein JSON-Objekt im folgenden Format. **Für 'Hold'-Entscheidungen ist das 'suggestion'-Feld zwingend auszufüllen!**\n{\n    \"symbol\": \"...\",\n    \"name\": \"...\",\n    \"currentPrice\": ...,\n    \"direction\": \"Buy\", \"Sell\" oder \"Hold\",\n    \"entry\": ...,\n    \"target\": ...,\n    \"stopLoss\": ...,\n    \"timeFrame\": \"... Tage\" oder \"... Wochen\",\n    \"riskRewardRatio\": ...,\n    \"reason\": \"...\",\n    \"suggestion\": \"...\" // Nur für 'Hold'-Entscheidungen zwingend. Für andere null.\n}\n\n* **Filterung und Earnings-Risikomanagement:**\n* Wenn \\`earningsInDays\\` **weniger als 3 Tage** beträgt, setze \\`direction\\` auf \\`\"Hold\"\\`, auch wenn alle anderen Bedingungen erfüllt sind, und schreibe als \\`reason\\`: \\`\"Hohes Risiko aufgrund von Earnings-Veröffentlichung in weniger als 3 Tagen.\"\\`\n* Wenn \\`earningsInDays\\` **zwischen 3 und 14 Tagen** liegt und Buy/Sell-Bedingungen erfüllt sind, behalte \\`direction\\` bei, aber setze \\`timeFrame\\` auf \\`\"Kurzfristiger Swing (Pre-Earnings)\"\\` und füge das Earnings-Risiko im \\`reason\\`-Feld hinzu.\n* Wenn \\`earningsInDays\\` **mehr als 14 Tage** beträgt, gelten die Standardregeln.\n\n* **Parameter:**\n* \\`stopLoss\\`: \n  - Standard: Bei \\`1,5 * ATR(14)\\` unter (für Buy) bzw. über (für Sell) dem Entry-Level platziert.\n  - Bei \\`Beta ≥ 1,5\\`: Bei \\`2,0 * ATR(14)\\` für mehr Spielraum bei hoher Volatilität.\n  - Bei \\`Beta < 0,8\\` (defensive Aktien): Bei \\`1,2 * ATR(14)\\` (engerer Stop möglich).\n* \\`target\\`: \n  - Standard: Berechnet mit \\`Risk = |entry - stopLoss|\\`:\n    * **Für Buy:** \\`entry + (Risk * 2,0)\\` für RRR 2:1\n    * **Für Sell:** \\`entry - (Risk * 2,0)\\` für RRR 2:1\n  - Bei starkem Trend (\\`Preis > 10%\\` über \\`200DMA\\` für Buy, oder \\`Preis < -10%\\` unter \\`200DMA\\` für Sell): \n    * **Für Buy:** Target = \\`entry + (Risk * 2,5)\\` für RRR 2,5:1\n    * **Für Sell:** Target = \\`entry - (Risk * 2,5)\\` für RRR 2,5:1\n  - Bei Pre-Earnings (\\`earningsInDays\\` zwischen 3-14 Tage): \n    * **Für Buy:** Target = \\`entry + (Risk * 1,5)\\` für RRR 1,5:1\n    * **Für Sell:** Target = \\`entry - (Risk * 1,5)\\` für RRR 1,5:1\n* \\`riskRewardRatio\\`: Berechnet mit \\`|target - entry| / |entry - stopLoss|\\`. Minimum sollte 2,0 sein (außer bei Pre-Earnings: 1,5).\n* \\`timeFrame\\`: Bestimme dynamisch unter Berücksichtigung des **ATR(14)**-Werts (Volatilität), **der Entfernung zum 200DMA** und **des Beta-Werts**.\n    * **Niedrige Volatilität (niedriges ATR), weit vom 200DMA entfernt und Beta < 1,5:** \"2-4 Wochen\"\n    * **Hohe Volatilität (hohes ATR), Einstieg nahe EMA20/BB Middle oder Beta ≥ 1,5:** \"1-3 Wochen\"\n    * **Sonderfall:** Wenn im Filterungsschritt bestimmt, verwende \"Kurzfristiger Swing (Pre-Earnings)\".\n* \\`reason\\`: Die Begründung muss die Strategieschritte mit numerischen Daten belegen.\n* \\`suggestion\\`: Wenn 'Hold' entschieden wurde, beschreibe ein mögliches zukünftiges Einstiegsszenario mit potenziellen Entry-, Stop Loss- und Target-Levels. Füge außerdem einen Hinweis zur Verwendung eines manuellen Trailing Stop-Loss hinzu.\n\n* **Finale Ausgabe:** Präsentiere alle JSON-Objekte in einem einzigen Array. **Die Ausgabe muss zwingend in einem einzigen Markdown-JSON-Codeblock (\\`\\`\\`json...\\`\\`\\`) erfolgen und darf KEINE Erklärung ODER anderen Text außerhalb dieses Blocks enthalten.**\n\n---\nBeispiel-Ausgabeformat:\n[\n  {\n    \"symbol\": \"AAPL\",\n    \"name\": \"Apple Inc.\",\n    \"currentPrice\": 150.25,\n    \"direction\": \"Buy\",\n    \"entry\": 150.25,\n    \"target\": 160.65,\n    \"stopLoss\": 145.05,\n    \"timeFrame\": \"1-3 Wochen\",\n    \"riskRewardRatio\": 2.0,\n    \"reason\": \"Haupttrend OK (Preis 150.25 > 200DMA 140.10). Mittelfristiger Trend OK (EMA20 > EMA50, Preis > EMA50). Preis hat Pullback zum EMA20 gemacht (innerhalb 2xATR). RSI 58, MFI 55. MACD Line > Signal, Histogram positiv. SL bei 1,5xATR darunter platziert. Beta 1,2, normales Risiko.\",\n    \"suggestion\": null\n  },\n  {\n    \"symbol\": \"TSLA\",\n    \"name\": \"Tesla Inc.\",\n    \"currentPrice\": 95.40,\n    \"direction\": \"Hold\",\n    \"entry\": null,\n    \"target\": null,\n    \"stopLoss\": null,\n    \"timeFrame\": null,\n    \"riskRewardRatio\": null,\n    \"reason\": \"Haupttrend und mittelfristiger Trend-Bedingungen nicht erfüllt (EMA20 < EMA50, aber Preis > EMA50). Mittelfristiger Trend nicht eindeutig.\",\n    \"suggestion\": \"Warte darauf, dass der Preis unter EMA50 (94.00) fällt, um ein klares Sell-Signal zu erhalten. In diesem Fall: Potenzieller Sell Entry: 94.00, SL: 95.80, Target: 90.40. Risk/Reward sollte 2,0 betragen. Bei Gegenpositionen wird die Verwendung eines manuellen Trailing Stop-Loss empfohlen.\"\n  }\n]\n\n### EOD-DATEN ###\n\n${formattedStocks}`\n}\n}\n];"
      },
      "id": "739fe1e6-d78e-4770-a6b1-5549f40e6d85",
      "name": "🗃️ Build LLM Prompt Input\t1",
      "type": "n8n-nodes-base.code",
      "position": [-1344, 1216],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "│ 📛 Node Name                                  │ 🎯 Purpose                                                           │\n├───────────────────────────────────────────────┼──────────────────────────────────────────────────────────────────────┤\n│ ⏰ Trigger - Daily Market Close               │ Triggers the workflow post EOD (e.g., 4:15 PM IST)                   │\n│ 📦 Prepare Stock List (NSE 100)              │ Generates the list of NSE 100 stock symbols to analyze              │\n│ 🌐 Fetch EOD Data (RapidAPI)                 │ Fetches end-of-day stock data from RapidAPI                         │\n│ 🛠️ Format EOD Data                           │ Extracts and formats the quote data from API response               │\n│ 🧹 Filter Valid Stock Data                   │ Filters/cleans/slices usable stock entries                          │\n│ 🧾 Build LLM Prompt Input                    │ Converts JSON stock data to string for OpenAI prompt                │\n│ 🤖 Generate Swing Trade Ideas (OpenAI)       │ Uses OpenAI to generate top swing trade ideas based on input data   │\n│ 🍴 Split JSON Output (Trade-wise)            │ Splits the LLM output into individual trade objects                 │\n│ 📊 Save Trade to Google Sheet                │ Appends each trade recommendation to Google Sheet tracker           │\n│ 📲 Send Telegram Trade Alert                 │ Sends trade alerts to Telegram user in real-time                    ",
        "height": 280,
        "width": 1000
      },
      "id": "6f346b6e-6244-43bf-997c-8d05071a061c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [-2512, 1568],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\n// === Fonksiyonlar ===\nfunction calculateSMA(values, period) {\n  if (values.length < period) return null;\n  const slice = values.slice(-period);\n  return slice.reduce((a, b) => a + b, 0) / period;\n}\n\nfunction calculateEMA(values, period) {\n  if (values.length < period) return null;\n  const k = 2 / (period + 1);\n  let emaPrev = calculateSMA(values.slice(0, period), period);\n  for (let i = period; i < values.length; i++) {\n    emaPrev = values[i] * k + emaPrev * (1 - k);\n  }\n  return emaPrev;\n}\n\nfunction calculateRSI(closes, period = 14) {\n  if (closes.length < period + 1) return null;\n  let gains = 0, losses = 0;\n  for (let i = 1; i <= period; i++) {\n    const diff = closes[i] - closes[i - 1];\n    if (diff > 0) gains += diff;\n    else losses -= diff;\n  }\n  let avgGain = gains / period;\n  let avgLoss = losses / period;\n  for (let i = period + 1; i < closes.length; i++) {\n    const diff = closes[i] - closes[i - 1];\n    const gain = diff > 0 ? diff : 0;\n    const loss = diff < 0 ? -diff : 0;\n    avgGain = (avgGain * (period - 1) + gain) / period;\n    avgLoss = (avgLoss * (period - 1) + loss) / period;\n  }\n  if (avgLoss === 0) return 100;\n  const rs = avgGain / avgLoss;\n  return 100 - 100 / (1 + rs);\n}\n\nfunction calculateMACD(closes, shortPeriod = 12, longPeriod = 26, signalPeriod = 9) {\n  if (closes.length < longPeriod + signalPeriod) return {};\n  // EMA serileri oluştur\n  let emaShortArr = [], emaLongArr = [];\n  let emaShort = calculateSMA(closes.slice(0, shortPeriod), shortPeriod);\n  let emaLong = calculateSMA(closes.slice(0, longPeriod), longPeriod);\n  const kShort = 2 / (shortPeriod + 1);\n  const kLong = 2 / (longPeriod + 1);\n\n  for (let i = 0; i < closes.length; i++) {\n    if (i >= shortPeriod - 1) {\n      emaShort = (i === shortPeriod - 1) ? emaShort : closes[i] * kShort + emaShort * (1 - kShort);\n      emaShortArr.push(emaShort);\n    } else {\n      emaShortArr.push(null);\n    }\n    if (i >= longPeriod - 1) {\n      emaLong = (i === longPeriod - 1) ? emaLong : closes[i] * kLong + emaLong * (1 - kLong);\n      emaLongArr.push(emaLong);\n    } else {\n      emaLongArr.push(null);\n    }\n  }\n\n  let macdSeries = emaShortArr.map((v, i) => (v !== null && emaLongArr[i] !== null) ? v - emaLongArr[i] : null);\n  // Signal EMA\n  let validMacds = macdSeries.filter(v => v !== null);\n  let signal = calculateSMA(validMacds.slice(0, signalPeriod), signalPeriod);\n  const kSig = 2 / (signalPeriod + 1);\n  for (let i = signalPeriod; i < validMacds.length; i++) {\n    signal = validMacds[i] * kSig + signal * (1 - kSig);\n  }\n  const lastMacd = validMacds[validMacds.length - 1];\n  return { macd: lastMacd, macdSignal: signal, macdHist: lastMacd - signal };\n}\n\nfunction calculateATR(bars, period = 14) {\n  if (bars.length < period + 1) return null;\n  let trs = [];\n  for (let i = 1; i < bars.length; i++) {\n    const high = bars[i].h;\n    const low = bars[i].l;\n    const prevClose = bars[i - 1].c;\n    trs.push(Math.max(high - low, Math.abs(high - prevClose), Math.abs(low - prevClose)));\n  }\n  let atr = trs.slice(0, period).reduce((a, b) => a + b, 0) / period;\n  for (let i = period; i < trs.length; i++) {\n    atr = (atr * (period - 1) + trs[i]) / period;\n  }\n  return atr;\n}\n\nfunction calculateBollinger(closes, period = 20, mult = 2) {\n  if (closes.length < period) return {};\n  const mid = calculateSMA(closes, period);\n  const slice = closes.slice(-period);\n  const variance = slice.reduce((a, b) => a + (b - mid) ** 2, 0) / period;\n  const stdev = Math.sqrt(variance);\n  return { middle: mid, upper: mid + mult * stdev, lower: mid - mult * stdev };\n}\n\nfunction calculateMFI(bars, period = 14) {\n  if (bars.length < period + 1) return null;\n\n  let typicals = bars.map(b => (b.h + b.l + b.c) / 3);\n  let moneyFlows = bars.map((b, i) => typicals[i] * b.v);\n\n  let positiveFlow = 0, negativeFlow = 0;\n  for (let i = 1; i <= period; i++) {\n    if (typicals[i] > typicals[i - 1]) positiveFlow += moneyFlows[i];\n    else if (typicals[i] < typicals[i - 1]) negativeFlow += moneyFlows[i];\n  }\n\n  // Son bar için rolling sum (period) hesapla\n  for (let i = period + 1; i < bars.length; i++) {\n    const oldPos = typicals[i - period] < typicals[i - period - 1] ? 0 : moneyFlows[i - period];\n    const oldNeg = typicals[i - period] > typicals[i - period - 1] ? 0 : moneyFlows[i - period];\n\n    if (typicals[i] > typicals[i - 1]) {\n      positiveFlow = positiveFlow - oldPos + moneyFlows[i];\n      negativeFlow = negativeFlow - oldNeg;\n    } else if (typicals[i] < typicals[i - 1]) {\n      negativeFlow = negativeFlow - oldNeg + moneyFlows[i];\n      positiveFlow = positiveFlow - oldPos;\n    } else {\n      positiveFlow -= oldPos;\n      negativeFlow -= oldNeg;\n    }\n  }\n\n  if (negativeFlow === 0) return 100;\n  const moneyRatio = positiveFlow / negativeFlow;\n  return 100 - 100 / (1 + moneyRatio);\n}\n\n// === Mevcut loop ===\nfor (const item of items) {\n  const result = item.json.quoteResponse?.result?.[0];\n  const bars = item.json.bars || [];\n  if (!result || !bars.length) continue;\n\n  const closes = bars.map(b => b.c);\n  const volumes = bars.map(b => b.v);\n\n  const rsi14 = calculateRSI(closes, 14);\n  const { macd, macdSignal, macdHist } = calculateMACD(closes);\n  const atr14 = calculateATR(bars, 14);\n  const { upper: bbUpper, lower: bbLower, middle: bbMiddle } = calculateBollinger(closes, 20, 2);\n  const sma20 = calculateSMA(closes, 20);\n  const sma50 = calculateSMA(closes, 50);\n  const ema20 = calculateEMA(closes, 20);\n  const ema50 = calculateEMA(closes, 50);\n  const mfi14 = calculateMFI(bars, 14);\n\n  const earningsInDays = result.earningsTimestamp\n    ? Math.round((result.earningsTimestamp * 1000 - Date.now()) / (1000 * 60 * 60 * 24))\n    : null;\n\n  const volumeVsAvg10D = (result.regularMarketVolume && result.averageDailyVolume10Day)\n    ? result.regularMarketVolume / result.averageDailyVolume10Day\n    : null;\n\n  output.push({\n    symbol: result.symbol,\n    name: result.shortName || result.longName || result.symbol,\n    exchange: result.fullExchangeName,\n    market: result.market,\n    price: result.regularMarketPrice,\n    prevClose: result.regularMarketPreviousClose,\n    open: result.regularMarketOpen,\n    dayHigh: result.regularMarketDayHigh,\n    dayLow: result.regularMarketDayLow,\n    changePercent: result.regularMarketChangePercent,\n    fiftyDayAvg: result.fiftyDayAverage,\n    twoHundredDayAvg: result.twoHundredDayAverage,\n    fiftyTwoWeekHigh: result.fiftyTwoWeekHigh,\n    fiftyTwoWeekLow: result.fiftyTwoWeekLow,\n    volume: result.regularMarketVolume,\n    avgVolume10D: result.averageDailyVolume10Day,\n    avgVolume3M: result.averageDailyVolume3Month,\n    volumeVsAvg10D,\n    beta: result.beta,\n    shortRatio: result.shortRatio,\n    marketCap: result.marketCap,\n    pe: result.trailingPE,\n    forwardPE: result.forwardPE,\n    priceToBook: result.priceToBook,\n    dividendYield: result.dividendYield,\n    epsForward: result.epsForward,\n    earningsDate: result.earningsTimestamp,\n    earningsInDays,\n    targetPriceMean: result.targetPriceMean,\n    targetPriceHigh: result.targetPriceHigh,\n    targetPriceLow: result.targetPriceLow,\n\n    // Teknik indikatörler\n    rsi14,\n    macd,\n    macdSignal,\n    macdHist,\n    atr14,\n    bbUpper,\n    bbLower,\n    bbMiddle,\n    sma20,\n    sma50,\n    ema20,\n    ema50,\n    mfi14,\n  });\n}\n\nreturn {\n  json: {\n    stocks: output.slice(0, 40)\n  }\n};\n"
      },
      "id": "d9f48547-3d76-4f09-a530-f1c7b1494ebb",
      "name": "🧮 Format EOD Data1",
      "type": "n8n-nodes-base.code",
      "position": [-1568, 960],
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sendTo": "={{ $env.TRADE_REPORT_RECIPIENTS }}",
        "subject": "=Tägliche KI Swing Chancen | Technical Analysis Bericht - {{ new Date().toLocaleDateString('de-DE', { day: '2-digit', month: '2-digit', year: 'numeric' }) }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"de\">\n  <head>\n    <meta charset=\"UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>KI Swing Signale - Technical Analysis Bericht</title>\n    <style>\n      /* Responsive Email Styles */\n      @media only screen and (max-width: 640px) {\n        .email-container {\n          width: 100% !important;\n          max-width: 100% !important;\n        }\n        .email-padding {\n          padding-left: 15px !important;\n          padding-right: 15px !important;\n        }\n        .header-padding {\n          padding: 30px 20px !important;\n        }\n        .section-padding {\n          padding: 20px 15px !important;\n        }\n        .card-padding {\n          padding: 15px !important;\n        }\n        .outer-padding {\n          padding: 10px 0 !important;\n        }\n        .mobile-text-small {\n          font-size: 12px !important;\n        }\n        .mobile-hidden {\n          display: none !important;\n        }\n      }\n    </style>\n  </head>\n  <body\n    style=\"\n      margin: 0;\n      padding: 0;\n      background-color: #fcfcfc;\n      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,\n        'Helvetica Neue', Arial, sans-serif;\n    \"\n  >\n    <!-- Email Container -->\n    <table\n      width=\"100%\"\n      cellpadding=\"0\"\n      cellspacing=\"0\"\n      border=\"0\"\n      class=\"outer-padding\"\n      style=\"background-color: #fcfcfc; padding: 20px 0\"\n    >\n      <tr>\n        <td align=\"center\">\n          <!-- Main Content Table -->\n          <table\n            width=\"640\"\n            cellpadding=\"0\"\n            cellspacing=\"0\"\n            border=\"0\"\n            class=\"email-container\"\n            style=\"\n              max-width: 640px;\n              background-color: #ffffff;\n              border-radius: 8px;\n              overflow: hidden;\n              box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);\n            \"\n          >\n            <!-- Header Section -->\n            <tr>\n              <td\n                class=\"header-padding\"\n                style=\"\n                  background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);\n                  padding: 40px 30px;\n                  text-align: center;\n                \"\n              >\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                  <tr>\n                    <td style=\"text-align: center\">\n                      <!-- AI Badge -->\n                      <div\n                        style=\"\n                          display: inline-block;\n                          background-color: rgba(255, 255, 255, 0.2);\n                          border: 1px solid rgba(255, 255, 255, 0.3);\n                          border-radius: 20px;\n                          padding: 6px 16px;\n                          margin-bottom: 16px;\n                        \"\n                      >\n                        <span\n                          style=\"\n                            color: #ffffff;\n                            font-size: 12px;\n                            font-weight: 600;\n                            letter-spacing: 0.5px;\n                          \"\n                          >POWERED BY GEMINI 2.5 PRO</span\n                        >\n                      </div>\n\n                      <!-- Title -->\n                      <h1\n                        style=\"\n                          color: #ffffff;\n                          font-size: 28px;\n                          font-weight: 700;\n                          margin: 0 0 8px 0;\n                          line-height: 1.3;\n                        \"\n                      >\n                        Tägliche KI Swing Trade Signale\n                      </h1>\n\n                      <!-- Subtitle -->\n                      <p\n                        style=\"\n                          color: rgba(255, 255, 255, 0.9);\n                          font-size: 14px;\n                          margin: 0;\n                          font-weight: 400;\n                        \"\n                      >\n                        {{new Date().toLocaleDateString('de-DE', { weekday:\n                        'long', year: 'numeric', month: 'long', day: 'numeric'\n                        })}} • Technical Analysis Bericht\n                      </p>\n                    </td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n\n            <!-- Introduction Section -->\n            <tr>\n              <td\n                class=\"section-padding\"\n                style=\"\n                  padding: 30px;\n                  background-color: #f8f9fa;\n                  border-bottom: 1px solid #e9ecef;\n                \"\n              >\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                  <tr>\n                    <td>\n                      <!-- Value Proposition -->\n                      <div\n                        style=\"\n                          border-left: 4px solid #1e3c72;\n                          padding-left: 16px;\n                          margin-bottom: 20px;\n                        \"\n                      >\n                        <p\n                          style=\"\n                            color: #495057;\n                            font-size: 15px;\n                            font-weight: 600;\n                            margin: 0;\n                            line-height: 1.5;\n                          \"\n                        >\n                          Die Chancen von heute: KI-gestützte Analyse mit\n                          ausgewählten, hochpotentiellen Swing Trade Signalen.\n                        </p>\n                      </div>\n\n                      <p\n                        style=\"\n                          color: #495057;\n                          font-size: 14px;\n                          line-height: 1.7;\n                          margin: 0 0 16px 0;\n                        \"\n                      >\n                        Täglich nach Marktschluss werden aus den 100 US-Aktien\n                        mit dem höchsten Potenzial\n                        <strong>5 Aktien</strong> ausgewählt und einer\n                        umfassenden technischen Analyse unterzogen.\n                      </p>\n\n                      <!-- Technical Process Section -->\n                      <div\n                        style=\"\n                          background-color: #ffffff;\n                          border: 1px solid #dee2e6;\n                          border-radius: 6px;\n                          padding: 16px;\n                          margin-bottom: 16px;\n                        \"\n                      >\n                        <p\n                          style=\"\n                            color: #6c757d;\n                            font-size: 12px;\n                            font-weight: 600;\n                            margin: 0 0 10px 0;\n                            text-transform: uppercase;\n                            letter-spacing: 0.5px;\n                          \"\n                        >\n                          Analyseprozess\n                        </p>\n                        <table\n                          width=\"100%\"\n                          cellpadding=\"0\"\n                          cellspacing=\"0\"\n                          border=\"0\"\n                        >\n                          <tr>\n                            <td style=\"padding: 4px 0\">\n                              <span\n                                style=\"\n                                  color: #495057;\n                                  font-size: 13px;\n                                  line-height: 1.6;\n                                \"\n                              >\n                                1. Echtzeitkursdaten werden von\n                                <strong>Yahoo Finance</strong> abgerufen\n                              </span>\n                            </td>\n                          </tr>\n                          <tr>\n                            <td style=\"padding: 4px 0\">\n                              <span\n                                style=\"\n                                  color: #495057;\n                                  font-size: 13px;\n                                  line-height: 1.6;\n                                \"\n                              >\n                                2. 250-Tage OHLC-Bars werden von\n                                <strong>Alpaca Markets</strong> bezogen\n                              </span>\n                            </td>\n                          </tr>\n                          <tr>\n                            <td style=\"padding: 4px 0\">\n                              <span\n                                style=\"\n                                  color: #495057;\n                                  font-size: 13px;\n                                  line-height: 1.6;\n                                \"\n                              >\n                                3. RSI, MACD und andere technische Indikatoren\n                                werden berechnet\n                              </span>\n                            </td>\n                          </tr>\n                          <tr>\n                            <td style=\"padding: 4px 0\">\n                              <span\n                                style=\"\n                                  color: #495057;\n                                  font-size: 13px;\n                                  line-height: 1.6;\n                                \"\n                              >\n                                4. Alle Daten werden von\n                                <strong>Gemini 2.5 Pro</strong>\n                                analysiert\n                              </span>\n                            </td>\n                          </tr>\n                        </table>\n                      </div>\n\n                      <p\n                        style=\"\n                          color: #1a202c;\n                          font-size: 14px;\n                          line-height: 1.6;\n                          margin: 0;\n                          font-weight: 600;\n                          text-align: center;\n                        \"\n                      >\n                        ✨ Ergebnis: Swing Trade Chancen mit dem höchsten\n                        Potenzial\n                      </p>\n                    </td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n\n            <!-- Trades Section -->\n            <tr>\n              <td class=\"section-padding\" style=\"padding: 30px\">\n                {{ $json.message.map(trade => `\n                <!-- Trade Card -->\n                <table\n                  width=\"100%\"\n                  cellpadding=\"0\"\n                  cellspacing=\"0\"\n                  border=\"0\"\n                  style=\"\n                    margin-bottom: 24px;\n                    border: 1px solid #dee2e6;\n                    border-radius: 8px;\n                    overflow: hidden;\n                  \"\n                >\n                  <!-- Trade Header -->\n                  ${trade.direction === 'Buy' ? `\n                  <tr>\n                    <td\n                      class=\"card-padding\"\n                      style=\"\n                        background-color: #ffffff;\n                        padding: 20px;\n                        border-bottom: 2px solid #10b981;\n                      \"\n                    >\n                      <table\n                        width=\"100%\"\n                        cellpadding=\"0\"\n                        cellspacing=\"0\"\n                        border=\"0\"\n                      >\n                        <tr>\n                          <td style=\"vertical-align: middle; width: 65%\">\n                            <h3\n                              style=\"\n                                color: #1a202c;\n                                font-size: 20px;\n                                font-weight: 700;\n                                margin: 0 0 4px 0;\n                              \"\n                            >\n                              ${trade.name}\n                            </h3>\n                            <p\n                              style=\"\n                                color: #718096;\n                                font-size: 13px;\n                                margin: 0;\n                                font-weight: 500;\n                                letter-spacing: 0.5px;\n                              \"\n                            >\n                              ${trade.symbol}\n                            </p>\n                          </td>\n                          <td\n                            align=\"right\"\n                            style=\"vertical-align: middle; width: 35%\"\n                          >\n                            <!-- Direction Badge -->\n\n                            <span\n                              style=\"\n                                color: #065f46;\n                                font-size: 14px;\n                                font-weight: 700;\n                                letter-spacing: 0.3px;\n                              \"\n                            >\n                              ▲ ${trade.direction}\n                            </span>\n                          </td>\n                        </tr>\n                      </table>\n                    </td>\n                  </tr>\n                  ` : trade.direction === 'Sell' ? `\n                  <tr>\n                    <td\n                      class=\"card-padding\"\n                      style=\"\n                        background-color: #ffffff;\n                        padding: 20px;\n                        border-bottom: 2px solid #ef4444;\n                      \"\n                    >\n                      <table\n                        width=\"100%\"\n                        cellpadding=\"0\"\n                        cellspacing=\"0\"\n                        border=\"0\"\n                      >\n                        <tr>\n                          <td style=\"vertical-align: middle; width: 65%\">\n                            <h3\n                              style=\"\n                                color: #1a202c;\n                                font-size: 20px;\n                                font-weight: 700;\n                                margin: 0 0 4px 0;\n                              \"\n                            >\n                              ${trade.name}\n                            </h3>\n                            <p\n                              style=\"\n                                color: #718096;\n                                font-size: 13px;\n                                margin: 0;\n                                font-weight: 500;\n                                letter-spacing: 0.5px;\n                              \"\n                            >\n                              ${trade.symbol}\n                            </p>\n                          </td>\n                          <td\n                            align=\"right\"\n                            style=\"vertical-align: middle; width: 35%\"\n                          >\n                            <!-- Direction Badge -->\n\n                            <span\n                              style=\"\n                                color: #991b1b;\n                                font-size: 14px;\n                                font-weight: 700;\n                                letter-spacing: 0.3px;\n                              \"\n                            >\n                              ▼ ${trade.direction}\n                            </span>\n                          </td>\n                        </tr>\n                      </table>\n                    </td>\n                  </tr>\n                  ` : `\n                  <tr>\n                    <td\n                      class=\"card-padding\"\n                      style=\"\n                        background-color: #ffffff;\n                        padding: 20px;\n                        border-bottom: 2px solid #f59e0b;\n                      \"\n                    >\n                      <table\n                        width=\"100%\"\n                        cellpadding=\"0\"\n                        cellspacing=\"0\"\n                        border=\"0\"\n                      >\n                        <tr>\n                          <td style=\"vertical-align: middle; width: 65%\">\n                            <h3\n                              style=\"\n                                color: #1a202c;\n                                font-size: 20px;\n                                font-weight: 700;\n                                margin: 0 0 4px 0;\n                              \"\n                            >\n                              ${trade.name}\n                            </h3>\n                            <p\n                              style=\"\n                                color: #718096;\n                                font-size: 13px;\n                                margin: 0;\n                                font-weight: 500;\n                                letter-spacing: 0.5px;\n                              \"\n                            >\n                              ${trade.symbol}\n                            </p>\n                          </td>\n                          <td\n                            align=\"right\"\n                            style=\"vertical-align: middle; width: 35%\"\n                          >\n                            <!-- Direction Badge -->\n\n                            <span\n                              style=\"\n                                color: #92400e;\n                                font-size: 14px;\n                                font-weight: 700;\n                                letter-spacing: 0.3px;\n                              \"\n                            >\n                              ${trade.direction}\n                            </span>\n                          </td>\n                        </tr>\n                      </table>\n                    </td>\n                  </tr>\n                  `}\n\n                  <!-- Trade Details -->\n                  <tr>\n                    <td style=\"background-color: #f8f9fa; padding: 0\">\n                      <table\n                        width=\"100%\"\n                        cellpadding=\"0\"\n                        cellspacing=\"0\"\n                        border=\"0\"\n                      >\n                        <!-- Current Price -->\n                        <tr>\n                          <td\n                            style=\"\n                              padding: 14px 20px;\n                              border-bottom: 1px solid #e9ecef;\n                            \"\n                          >\n                            <table\n                              width=\"100%\"\n                              cellpadding=\"0\"\n                              cellspacing=\"0\"\n                              border=\"0\"\n                            >\n                              <tr>\n                                <td style=\"width: 50%\">\n                                  <span\n                                    style=\"\n                                      color: #6c757d;\n                                      font-size: 13px;\n                                      font-weight: 600;\n                                    \"\n                                    >Aktueller Kurs</span\n                                  >\n                                </td>\n                                <td align=\"right\">\n                                  <span\n                                    style=\"\n                                      color: #212529;\n                                      font-size: 15px;\n                                      font-weight: 700;\n                                    \"\n                                    >${trade.currentPrice}</span\n                                  >\n                                </td>\n                              </tr>\n                            </table>\n                          </td>\n                        </tr>\n\n                        <!-- Entry Price -->\n                        <tr>\n                          <td\n                            style=\"\n                              padding: 14px 20px;\n                              border-bottom: 1px solid #e9ecef;\n                              background-color: #ffffff;\n                            \"\n                          >\n                            <table\n                              width=\"100%\"\n                              cellpadding=\"0\"\n                              cellspacing=\"0\"\n                              border=\"0\"\n                            >\n                              <tr>\n                                <td style=\"width: 50%\">\n                                  <span\n                                    style=\"\n                                      color: #6c757d;\n                                      font-size: 13px;\n                                      font-weight: 600;\n                                    \"\n                                    >→ Einstieg (Entry)</span\n                                  >\n                                </td>\n                                <td align=\"right\">\n                                  <span\n                                    style=\"\n                                      color: #212529;\n                                      font-size: 15px;\n                                      font-weight: 700;\n                                    \"\n                                    >${trade.entry}</span\n                                  >\n                                </td>\n                              </tr>\n                            </table>\n                          </td>\n                        </tr>\n\n                        <!-- Target Price -->\n                        <tr>\n                          <td\n                            style=\"\n                              padding: 14px 20px;\n                              border-bottom: 1px solid #e9ecef;\n                            \"\n                          >\n                            <table\n                              width=\"100%\"\n                              cellpadding=\"0\"\n                              cellspacing=\"0\"\n                              border=\"0\"\n                            >\n                              <tr>\n                                <td style=\"width: 50%\">\n                                  <span\n                                    style=\"\n                                      color: #6c757d;\n                                      font-size: 13px;\n                                      font-weight: 600;\n                                    \"\n                                    >◎ Ziel (Target)</span\n                                  >\n                                </td>\n                                <td align=\"right\">\n                                  <span\n                                    style=\"\n                                      color: #212529;\n                                      font-size: 15px;\n                                      font-weight: 700;\n                                    \"\n                                    >${trade.target}</span\n                                  >\n                                </td>\n                              </tr>\n                            </table>\n                          </td>\n                        </tr>\n\n                        <!-- Stop Loss -->\n                        <tr>\n                          <td\n                            style=\"\n                              padding: 14px 20px;\n                              border-bottom: 1px solid #e9ecef;\n                              background-color: #ffffff;\n                            \"\n                          >\n                            <table\n                              width=\"100%\"\n                              cellpadding=\"0\"\n                              cellspacing=\"0\"\n                              border=\"0\"\n                            >\n                              <tr>\n                                <td style=\"width: 50%\">\n                                  <span\n                                    style=\"\n                                      color: #6c757d;\n                                      font-size: 13px;\n                                      font-weight: 600;\n                                    \"\n                                    >✖ Stop Loss</span\n                                  >\n                                </td>\n                                <td align=\"right\">\n                                  <span\n                                    style=\"\n                                      color: #212529;\n                                      font-size: 15px;\n                                      font-weight: 700;\n                                    \"\n                                    >${trade.stopLoss}</span\n                                  >\n                                </td>\n                              </tr>\n                            </table>\n                          </td>\n                        </tr>\n\n                        <!-- Time Frame -->\n                        <tr>\n                          <td\n                            style=\"\n                              padding: 14px 20px;\n                              border-bottom: 1px solid #e9ecef;\n                              background-color: #ffffff;\n                            \"\n                          >\n                            <table\n                              width=\"100%\"\n                              cellpadding=\"0\"\n                              cellspacing=\"0\"\n                              border=\"0\"\n                            >\n                              <tr>\n                                <td style=\"width: 50%\">\n                                  <span\n                                    style=\"\n                                      color: #6c757d;\n                                      font-size: 13px;\n                                      font-weight: 600;\n                                    \"\n                                    >⌛ Zeitrahmen</span\n                                  >\n                                </td>\n                                <td align=\"right\">\n                                  <span\n                                    style=\"\n                                      color: #212529;\n                                      font-size: 14px;\n                                      font-weight: 600;\n                                    \"\n                                    >${trade.timeFrame}</span\n                                  >\n                                </td>\n                              </tr>\n                            </table>\n                          </td>\n                        </tr>\n\n                        <!-- Risk/Reward Ratio (if available) -->\n                        ${trade.riskRewardRatio ? `\n                        <tr>\n                          <td style=\"padding: 14px 20px\">\n                            <table\n                              width=\"100%\"\n                              cellpadding=\"0\"\n                              cellspacing=\"0\"\n                              border=\"0\"\n                            >\n                              <tr>\n                                <td style=\"width: 50%\">\n                                  <span\n                                    style=\"\n                                      color: #6c757d;\n                                      font-size: 13px;\n                                      font-weight: 600;\n                                    \"\n                                    >Risiko/Rendite-Verhältnis</span\n                                  >\n                                </td>\n                                <td align=\"right\">\n                                  <span\n                                    style=\"\n                                      color: #059669;\n                                      font-size: 14px;\n                                      font-weight: 700;\n                                    \"\n                                    >1:${trade.riskRewardRatio}</span\n                                  >\n                                </td>\n                              </tr>\n                            </table>\n                          </td>\n                        </tr>\n                        ` : ''}\n                      </table>\n                    </td>\n                  </tr>\n\n                  <!-- Trade Reason -->\n                  <tr>\n                    <td\n                      class=\"card-padding\"\n                      style=\"\n                        background-color: #ffffff;\n                        padding: 20px 20px 16px 20px;\n                        border-top: 1px solid #dee2e6;\n                      \"\n                    >\n                      <p\n                        style=\"\n                          color: #6c757d;\n                          font-size: 12px;\n                          font-weight: 600;\n                          margin: 0 0 8px 0;\n                          text-transform: uppercase;\n                          letter-spacing: 0.5px;\n                        \"\n                      >\n                        📊 Technical Analysis\n                      </p>\n                      <p\n                        style=\"\n                          color: #495057;\n                          font-size: 14px;\n                          line-height: 1.6;\n                          margin: 0;\n                        \"\n                      >\n                        ${trade.reason}\n                      </p>\n                    </td>\n                  </tr>\n\n                  <!-- Trade Suggestion -->\n                  ${trade.suggestion ? `\n                  <tr>\n                    <td\n                      class=\"card-padding\"\n                      style=\"\n                        background-color: #f8f9fa;\n                        padding: 16px 20px 20px 20px;\n                        border-top: 1px solid #dee2e6;\n                      \"\n                    >\n                      <p\n                        style=\"\n                          color: #6c757d;\n                          font-size: 12px;\n                          font-weight: 600;\n                          margin: 0 0 8px 0;\n                          text-transform: uppercase;\n                          letter-spacing: 0.5px;\n                        \"\n                      >\n                        Empfehlung\n                      </p>\n                      <p\n                        style=\"\n                          color: #495057;\n                          font-size: 14px;\n                          line-height: 1.6;\n                          margin: 0;\n                        \"\n                      >\n                        ${trade.suggestion}\n                      </p>\n                    </td>\n                  </tr>\n                  ` : ''}\n                </table>\n                `).join('') }}\n              </td>\n            </tr>\n\n            <!-- Disclaimer Section -->\n            <tr>\n              <td\n                class=\"section-padding\"\n                style=\"\n                  background-color: #fff3cd;\n                  border-top: 3px solid #ffc107;\n                  padding: 20px 30px;\n                \"\n              >\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                  <tr>\n                    <td>\n                      <p\n                        style=\"\n                          color: #856404;\n                          font-size: 13px;\n                          line-height: 1.7;\n                          margin: 0;\n                          font-weight: 500;\n                        \"\n                      >\n                        <strong>Risikohinweis:</strong> Dieser Bericht dient\n                        ausschließlich zu Informationszwecken und stellt keine\n                        Anlageberatung dar. Der Handel auf den Finanzmärkten\n                        bringt hohe Risiken und kann zu Kapitalverlusten führen.\n                        Die Analyse basiert ausschließlich auf technischen\n                        Indikatoren. Weitere externe oder fundamentale Faktoren\n                        bleiben unberücksichtigt.\n                      </p>\n                    </td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n\n            <!-- Footer Section -->\n            <tr>\n              <td\n                class=\"section-padding\"\n                style=\"\n                  background-color: #f8f9fa;\n                  padding: 30px;\n                  text-align: center;\n                  border-top: 1px solid #dee2e6;\n                \"\n              >\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                  <tr>\n                    <td style=\"text-align: center\">\n                      <!-- Data Sources -->\n                      <div style=\"margin-bottom: 20px\">\n                        <p\n                          style=\"\n                            color: #495057;\n                            font-size: 11px;\n                            margin: 0 0 12px 0;\n                            font-weight: 600;\n                            text-transform: uppercase;\n                            letter-spacing: 0.5px;\n                          \"\n                        >\n                          Datenquellen & Technologie\n                        </p>\n                        <table\n                          width=\"100%\"\n                          cellpadding=\"0\"\n                          cellspacing=\"0\"\n                          border=\"0\"\n                        >\n                          <tr>\n                            <td\n                              style=\"\n                                padding: 6px 0;\n                                border-bottom: 1px solid #e9ecef;\n                              \"\n                            >\n                              <table\n                                width=\"100%\"\n                                cellpadding=\"0\"\n                                cellspacing=\"0\"\n                                border=\"0\"\n                              >\n                                <tr>\n                                  <td style=\"width: 45%; vertical-align: top\">\n                                    <span\n                                      style=\"color: #6c757d; font-size: 12px\"\n                                      >KI-Modell</span\n                                    >\n                                  </td>\n                                  <td\n                                    style=\"\n                                      width: 55%;\n                                      text-align: right;\n                                      vertical-align: top;\n                                    \"\n                                  >\n                                    <span\n                                      style=\"\n                                        color: #212529;\n                                        font-size: 12px;\n                                        font-weight: 600;\n                                      \"\n                                      >Gemini 2.5 Pro</span\n                                    >\n                                  </td>\n                                </tr>\n                              </table>\n                            </td>\n                          </tr>\n                          <tr>\n                            <td\n                              style=\"\n                                padding: 6px 0;\n                                border-bottom: 1px solid #e9ecef;\n                              \"\n                            >\n                              <table\n                                width=\"100%\"\n                                cellpadding=\"0\"\n                                cellspacing=\"0\"\n                                border=\"0\"\n                              >\n                                <tr>\n                                  <td style=\"width: 45%; vertical-align: top\">\n                                    <span\n                                      style=\"color: #6c757d; font-size: 12px\"\n                                      >Kursdaten</span\n                                    >\n                                  </td>\n                                  <td\n                                    style=\"\n                                      width: 55%;\n                                      text-align: right;\n                                      vertical-align: top;\n                                    \"\n                                  >\n                                    <a\n                                      href=\"https://finance.yahoo.com/\"\n                                      target=\"_blank\"\n                                      style=\"\n                                        color: #0d6efd;\n                                        text-decoration: none;\n                                        font-size: 12px;\n                                        font-weight: 600;\n                                      \"\n                                      >Yahoo Finance</a\n                                    >\n                                  </td>\n                                </tr>\n                              </table>\n                            </td>\n                          </tr>\n                          <tr>\n                            <td\n                              style=\"\n                                padding: 6px 0;\n                                border-bottom: 1px solid #e9ecef;\n                              \"\n                            >\n                              <table\n                                width=\"100%\"\n                                cellpadding=\"0\"\n                                cellspacing=\"0\"\n                                border=\"0\"\n                              >\n                                <tr>\n                                  <td style=\"width: 45%; vertical-align: top\">\n                                    <span\n                                      style=\"color: #6c757d; font-size: 12px\"\n                                      >OHLC Bars</span\n                                    >\n                                  </td>\n                                  <td\n                                    style=\"\n                                      width: 55%;\n                                      text-align: right;\n                                      vertical-align: top;\n                                    \"\n                                  >\n                                    <a\n                                      href=\"https://alpaca.markets/\"\n                                      target=\"_blank\"\n                                      style=\"\n                                        color: #0d6efd;\n                                        text-decoration: none;\n                                        font-size: 12px;\n                                        font-weight: 600;\n                                      \"\n                                      >Alpaca Markets</a\n                                    >\n                                  </td>\n                                </tr>\n                              </table>\n                            </td>\n                          </tr>\n                          <tr>\n                            <td style=\"padding: 6px 0 0 0\">\n                              <table\n                                width=\"100%\"\n                                cellpadding=\"0\"\n                                cellspacing=\"0\"\n                                border=\"0\"\n                              >\n                                <tr>\n                                  <td style=\"width: 45%; vertical-align: top\">\n                                    <span\n                                      style=\"color: #6c757d; font-size: 12px\"\n                                      >Technische Indikatoren</span\n                                    >\n                                  </td>\n                                  <td\n                                    style=\"\n                                      width: 55%;\n                                      text-align: right;\n                                      vertical-align: top;\n                                    \"\n                                  >\n                                    <span\n                                      style=\"\n                                        color: #212529;\n                                        font-size: 12px;\n                                        font-weight: 600;\n                                      \"\n                                      >Eigener Algorithmus</span\n                                    >\n                                  </td>\n                                </tr>\n                              </table>\n                            </td>\n                          </tr>\n                        </table>\n                      </div>\n\n                      <!-- Divider -->\n                      <div\n                        style=\"\n                          height: 1px;\n                          background-color: #dee2e6;\n                          margin: 16px 0;\n                        \"\n                      ></div>\n\n                      <!-- Brand -->\n                      <p\n                        style=\"\n                          color: #495057;\n                          font-size: 13px;\n                          font-weight: 600;\n                          margin: 0 0 4px 0;\n                        \"\n                      >\n                        HD Signals\n                      </p>\n\n                      <!-- Copyright -->\n                      <p style=\"color: #adb5bd; font-size: 11px; margin: 0\">\n                        © 2025 HD Signals. Alle Rechte vorbehalten.\n                      </p>\n                    </td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n    </table>\n  </body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-560, 1216],
      "id": "1abfa6e9-42e7-43e1-9e09-7e62d8645182",
      "name": "Send a message",
      "webhookId": "2ab027a3-a581-4249-8b52-6a34814f1ced",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "gmailOAuth2": {
          "id": "pFZSWRNnzSNem4KW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Tüm NASDAQ 100 tickers\nconst allTickers = [\n  \"ASTS\",\n  \"RR\",\n  \"AXON\",\n  \"APP\",\n  \"PYPL\"\n];\n\n\nconst data = $getWorkflowStaticData('global');\n\n// Eğer ilk kez çalışıyorsa veya reset gerekiyorsa\nif (!data.remaining || data.remaining.length === 0) {\n  data.remaining = [...allTickers]; // yeni liste yükle\n}\n\n// Günlük 5 random ticker seç\nconst selected = [];\nfor (let i = 0; i < 5; i++) {\n  const idx = Math.floor(Math.random() * data.remaining.length);\n  selected.push(data.remaining[idx]);\n  data.remaining.splice(idx, 1); // seçileni listeden çıkar\n}\n\n// Güncel remaining listesini kontrol et\nconsole.log('Güncel remaining listesi:', data.remaining);\n\n// Output formatı\nreturn selected.map(ticker => ({ json: { ticker } }));\n"
      },
      "id": "6821caeb-efc3-4419-9c3d-a1b175a72c2d",
      "name": "🔢 Prepare Stock List (NSDAQ 100)\t1",
      "type": "n8n-nodes-base.code",
      "position": [-2272, 1248],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const allTickers = [\n  \"PLTR\",   // Palantir Technologies Inc.\n  \"HOOD\",   // Robinhood Markets, Inc.\n  \"HIMS\",   // Hims & Hers Health, Inc.\n  \"APP\",    // AppLovin Corporation\n  \"RKLB\",   // Rocket Lab USA, Inc.\n  \"TEM\",    // Tempus AI Inc.\n  \"SOFI\",   // SoFi Technologies, Inc.\n  \"OSCR\",   // Oscar Health, Inc.\n  \"NBIS\",   // Nebius (Note: Not a publicly traded ticker)\n  \"IREN\",   // Iris Energy Limited\n  \"NVDA\",   // NVIDIA Corporation\n  \"BMNR\",   // Bitmine Immersion Technologies Inc.\n  \"SMCI\",   // Super Micro Computer, Inc.\n  \"LMND\",   // Lemonade, Inc.\n  \"CIFR\",   // Cipher Mining Inc.\n  \"CEG\",    // Constellation Energy Corporation\n  \"ANET\",   // Arista Networks, Inc.\n  \"CLS\",    // Celestica Inc.\n  \"ORCL\",   // Oracle Corporation\n  \"OPEN\",   // Opendoor Technologies Inc.\n  \"TSLA\",   // Tesla, Inc.\n  \"ZETA\",   // Zeta Global Holdings Corp.\n  \"RR\",     // Richtech Robotics Inc.\n  \"RGTI\",   // Rigetti Computing, Inc.\n  \"ASTS\",   // AST SpaceMobile, Inc.\n  \"OKLO\",   // Oklo Inc.\n  \"AMD\",    // Advanced Micro Devices, Inc.\n  \"EOSE\",   // Eos Energy Enterprises, Inc.\n  \"IONQ\",   // IonQ, Inc.\n  \"CRWD\",   // CrowdStrike Holdings, Inc.\n  \"CRWV\",   // CoreWeave (Note: Not a publicly traded ticker)\n  \"ASML\",   // ASML Holding N.V.\n  \"META\",   // Meta Platforms, Inc.\n  \"AVGO\",   // Broadcom Inc.\n  \"BA\",     // The Boeing Company\n  \"AAPL\",   // Apple Inc.\n  \"MSFT\",   // Microsoft Corporation\n  \"AMZN\",   // Amazon.com, Inc.\n  \"GOOG\",   // Alphabet Inc.\n  \"ADBE\",   // Adobe Inc.\n  \"MDB\",    // MongoDB, Inc.\n  \"MRVL\",   // Marvell Technology, Inc.\n  \"DDOG\",   // Datadog, Inc.\n  \"MSTR\",   // MicroStrategy Incorporated\n  \"AXON\",   // Axon Enterprise, Inc.\n  \"UNH\",    // UnitedHealth Group Incorporated\n  \"LLY\",    // Eli Lilly and Company\n  \"ALAB\",   // Astera Labs, Inc.\n  \"CRM\",    // Salesforce, Inc.\n  \"DUOL\",   // Duolingo, Inc.\n  \"SE\",     // Sea Limited\n  \"GRAB\",   // Grab Holdings Limited\n  \"CELH\",   // Celsius Holdings, Inc.\n  \"CRDO\",   // Credo Technology Group Holding Ltd\n  \"MU\",     // Micron Technology, Inc.\n  \"TTD\",    // The Trade Desk, Inc.\n  \"DLO\",    // DLocal Limited\n  \"LEU\",    // Centrus Energy Corp.\n  \"SNOW\",   // Snowflake Inc.\n  \"COIN\",   // Coinbase Global, Inc.\n  \"V\",      // Visa Inc.\n  \"BKSY\",   // BlackSky Technology Inc.\n  \"AMPX\",   // Amprius Technologies, Inc.\n  \"NVTS\",   // Navitas Semiconductor Corporation\n  \"JOBY\",   // Joby Aviation, Inc.\n  \"QUBT\",   // Quantum Computing Inc.\n  \"ABNB\",   // Airbnb, Inc.\n  \"BKNG\",   // Booking Holdings Inc.\n  \"MCHP\",   // Microchip Technology Incorporated\n  \"NFLX\",   // Netflix, Inc.\n  \"PYPL\",   // PayPal Holdings, Inc.\n  \"QCOM\",   // QUALCOMM Incorporated\n  \"SHOP\",   // Shopify Inc.\n  \"WDAY\",   // Workday, Inc.\n  \"JPM\",    // JPMorgan Chase & Co.\n  \"MA\",     // Mastercard Incorporated\n  \"WMT\",    // Walmart Inc.\n  \"SPOT\",   // Spotify Technology S.A.\n  \"MS\",     // Morgan Stanley\n  \n  // 20 new tickers from NASDAQ-100\n  \"INTC\",   // Intel Corporation\n  \"CSCO\",   // Cisco Systems, Inc.\n  \"PEP\",    // PepsiCo, Inc.\n  \"COST\",   // Costco Wholesale Corporation\n  \"CMCSA\",  // Comcast Corporation\n  \"TXN\",    // Texas Instruments Incorporated\n  \"GILD\",   // Gilead Sciences, Inc.\n  \"SBUX\",   // Starbucks Corporation\n  \"ISRG\",   // Intuitive Surgical, Inc.\n  \"MDLZ\",   // Mondelez International, Inc.\n  \"ADI\",    // Analog Devices, Inc.\n  \"VRTX\",   // Vertex Pharmaceuticals Incorporated\n  \"REGN\",   // Regeneron Pharmaceuticals, Inc.\n  \"LRCX\",   // Lam Research Corporation\n  \"KLAC\",   // KLA Corporation\n  \"AEP\",    // American Electric Power Company, Inc.\n  \"CTAS\",   // Cintas Corporation\n  \"MAR\",    // Marriott International, Inc.\n  \"PANW\"    // Palo Alto Networks, Inc.\n];\n\n\n  \n\n\n\n\nconst data = $getWorkflowStaticData('global');\n\n// Eğer ilk kez çalışıyorsa veya reset gerekiyorsa\nif (!data.remaining || data.remaining.length === 0) {\n  data.remaining = [...allTickers]; // yeni liste yükle\n}\n\n// Günlük 5 random ticker seç\nconst selected = [];\nfor (let i = 0; i < 5; i++) {\n  const idx = Math.floor(Math.random() * data.remaining.length);\n  selected.push(data.remaining[idx]);\n  data.remaining.splice(idx, 1); // seçileni listeden çıkar\n}\n\n// Güncel remaining listesini kontrol et\nconsole.log('Güncel remaining listesi:', data.remaining);\n\n// Output formatı\nreturn selected.map(ticker => ({ json: { ticker } }));\n"
      },
      "id": "57ee7a27-548d-4213-b359-28d06b925a30",
      "name": "🔢 Prepare Stock List (Personal)",
      "type": "n8n-nodes-base.code",
      "position": [-2272, 960],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "=https://data.alpaca.markets/v2/stocks/{{$json[\"ticker\"]}}/bars?timeframe=1Day&start={{new Date(new Date().setDate(new Date().getDate()-250)).toISOString().split(\"T\")[0]}}T00:00:00Z&end={{new Date().toISOString().split(\"T\")[0]}}T00:00:00Z&limit=1000\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "APCA-API-KEY-ID",
              "value": "={{ $env.ALPACA_API_KEY_ID }}"
            },
            {
              "name": "APCA-API-SECRET-KEY",
              "value": "={{ $env.ALPACA_API_SECRET_KEY }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "value": "={   \"symbols\": [{{$json[\"ticker\"]}}],   \"proxyConfig\": { \"useApifyProxy\": true } }"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-2000, 800],
      "id": "c25fe27e-0a2f-4f26-951e-9316b703b333",
      "name": "Fetch OHLCV via APCA API",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "symbol",
              "field2": "quoteResponse.result[0].symbol"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-1792, 960],
      "id": "a6873ba6-9d69-4098-942a-5f794d4f6df4",
      "name": "Merge",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Message a model": {
      "main": [
        [
          {
            "node": "Split Trade Recommendations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Quote via Rapid API1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Trade Recommendations1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Trigger - Daily Market Close\t1": {
      "main": [
        [
          {
            "node": "🔢 Prepare Stock List (Personal)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Filter Valid Stock Data\t1": {
      "main": [
        [
          {
            "node": "🗃️ Build LLM Prompt Input\t1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗃️ Build LLM Prompt Input\t1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Format EOD Data1": {
      "main": [
        [
          {
            "node": "📊 Filter Valid Stock Data\t1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔢 Prepare Stock List (NSDAQ 100)\t1": {
      "main": [[]]
    },
    "🔢 Prepare Stock List (Personal)": {
      "main": [
        [
          {
            "node": "Fetch OHLCV via APCA API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Quote via Rapid API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [[]]
    },
    "Fetch OHLCV via APCA API": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "🧮 Format EOD Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "f52e764d-38e8-4b50-a714-3be4ce25bc08",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7b3edabb4e4b7ddf4624045179c0de78f74fc4969541be883b18c4979e0e8754"
  },
  "id": "YezeVEU4IaEtp353",
  "tags": []
}
